*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'work sans', sans-serif;

}

.btn{
  width: 10rem;
  border: none;
  text-decoration: none;
  background-color: rgba(250, 105, 0, 1);
  border-radius: 0.25rem;
  color: white;
  height: 2.5rem;
  padding: 2px;
  margin: 1rem;
}
.btn:hover{
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);
}
.card{
  position: relative;
  padding: 10px;
  margin: 20px;
  border: 1px solid orange;
  border-radius: 5px;
  text-align: left;
  width: 350px;
}
.card h5{
  text-align: center;
  padding-bottom: .75rem;
}
@media (max-width: 600px) {
  nav{
    width: 100vw;
  }
  .container{
      display: flex;
      align-content: center;
      justify-content: center;
  }
  .vertical-line{
      display: none;
  }
  .text{
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
  }
  .container img{
      display: none;
  }
  .products{
      display: none;
  }
  .social-medias{
      display: none;
  }
  .whatsapp{
      display: none;
  }
.history{
  display: flex;
  flex-direction: column;
  height: auto;
}
.history-line{
  display: none;
}
#history{
  border: 1px solid rgba(230, 137, 10, 0.84);
  padding: .5rem;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}
#history h2{
  padding: .5rem;
}
#history p{
  width: 90%;
  text-align: justify;
}
.history img{
  display: none;
} 
.contact{
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
footer{
  height: 6vh;
}
}

